*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: DIN Pro,sans-serif;
}

.App{
    padding: 20px 0;
    min-height: 100vh;
    position: relative;
    background: black;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: scale(1.4);
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}